---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title='Apuntes 1 DAW'>
  <h1 class='prose-2xl text-[#f0f0f0]'>Astro</h1>

  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
  <p class='prose'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro
    reprehenderit quisquam quidem libero, dignissimos unde dicta impedit! Aut
    tempora dignissimos deserunt delectus distinctio iusto enim debitis ex
    incidunt similique.
  </p>
</MainLayout>
