---
const actualYear = new Date().getFullYear()
---

<footer class='bg-gray-800 mt-12 py-6'>
  <div class='container mx-auto px-4 text-center text-gray-400'>
    <p>
      {actualYear} Apuntes de Desarrollo Web | Creado por promoción 1º DAW 2024 IES
      Hermanos Amorós
    </p>
  </div>
</footer>
