---
const actualYear = new Date().getFullYear()
---

<footer class='p-4 bg-[#1F2937]'>
  <p class='text-center text-[#F3F4F6] text-sm'>
    {actualYear} Apuntes de Desarrollo Web | Creado por promoción 1º DAW 2024 IES
    Hermanos Amorós
  </p>
</footer>
