---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-[#111827] h-screen flex flex-col'>
    <div class='min-h-screen bg-gray-900 text-gray-100' data-id='1'>
      <Header title={title} />
      <main class='container mx-auto px-4 py-8' data-id='6'>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
