---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

const { title } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-[#111827] h-screen flex flex-col'>
    <!-- Header fijo en la parte superior -->
    <Header title={title} class='sticky top-0 z-10 bg-[#1f2937]' />

    <div class='flex h-full'>
      <!-- Navbar con ancho fijo de 250px y desplazamiento vertical -->
      <Navbar class='w-[250px] overflow-y-auto h-full bg-[#1f2937]' />

      <!-- Main ocupa el resto del espacio con scroll si es necesario -->
      <main class='flex-1 overflow-y-auto bg-[#1f2937]'>
        <slot />
      </main>
    </div>

    <!-- Footer fijo en la parte inferior -->
    <Footer class='sticky bottom-0 z-10 bg-[#1f2937]' />
  </body>
</html>
